<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maquetación de Layout</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <header class="header">
                <div class="logo">.logo</div>
                <div class="nav">.nav</div>
                <div class="social">.social</div>
            </header>
            
            <section class="banner">
                <div style=" background: linear-gradient(135deg, #f1c40f, #f9e98d); padding: 20px;">.banner</div>
            </section>
        </div>
        <main class="main-content">
            <div class="articles">
                <div class="article">.article</div>
                <div class="article">.article</div>
                <div class="article">.article</div>
                <div class="article">.article</div>
                <div class="navegacion">.navegacion</div>
            </div>
            <aside class="sidebar">
                <div class="publicidad">.publicidad</div>
                <div class="publicidad">.publicidad</div>
            </aside>
        </main>
        
        <footer class="footer">
            <div class="footerText">.pie</div>
        </footer>
    </div>
</body>
</html>
