* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 96%);
    color: black;
    text-align: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    background-color: black;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    align-items: center;
}

.logo, .social {
    width: 15%;
    background-color: darkred;
    padding: 10px;
    margin: 30px;
    transition: all 0.3s ease;
}
.nav{
    width: 60%;
    background-color: darkred;
    padding: 10px;
    margin: 30px;
    transition: all 0.3s ease;
}


.banner {
    background-color: orange;
    padding: 20px;
    margin-top: 20px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 20px 0;
    padding: 20px;
}

.articles {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: grey;
    padding: 20px;
}

.article {
    background-color: blue;
    width: 48%;
    padding: 20px;
    margin-bottom: 10px;
}

.navegacion {
    background-color: lightblue;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
}

.sidebar {
    width: 20%;
    background-color: red;
    padding: 20px;
}

.publicidad {
    background-color: yellow;
    padding: 20px;
    margin-bottom: 10px;
}

.footer {
    background-color: black;
    padding: 14px;
    margin-top: 20px;
}

.footerText {
    background-color: lightyellow;
    padding: 10px;
}
